<div class="container-fluid mt-4">
	<div class="row">
	  <div class="col-md">
		<div class="card shadow-lg border-0 rounded-4">
		  <div class="card-body bg-light">
			<h5 class="fw-bold text-primary text-center">Faculty Profile</h5>
			<hr>
			<div class="d-flex justify-content-between px-2">
			  <p class="mb-2"><strong> Name:</strong> <span class="text-secondary">{{faculty.firstname}} {{faculty.lastname}}</span></p>
			  <p class="mb-2"><strong> ID:</strong> <span class="text-secondary">{{faculty.faculty_id}}</span></p>
			  
			</div>
			<div class="d-flex justify-content-between px-2">
			  <p class="mb-2"><strong> Department:</strong> <span class="text-secondary">{{faculty.dept_name}}</span></p>
			  <p class="mb-2"><strong> Email:</strong> <span class="text-secondary">{{faculty.email}}</span></p>
			</div>
		  </div>
		</div>
	  </div>
	</div>  
  </div>
  
  <!-- add back buttons -->