<h1>hi</h1>
<div class="container p-5">
  <div class="card shadow">
    <div class="card-header text-center fw-bold">Login</div>
    <div class="card-body">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="name"
            name="name"
            required
            #nameField="ngModel"
          />
          <div
            *ngIf="nameField.invalid && nameField.touched"
            class="text-danger"
          >
            Name is required.
          </div>
        </div>

        <div class="mb-3">
          <label for="rollNumber" class="form-label">Roll Number</label>
          <input
            type="text"
            class="form-control"
            id="rollNumber"
            [(ngModel)]="rollNumber"
            name="rollNumber"
            required
            minlength="9"
            maxlength="9"
            
            #rollNumberField="ngModel"
          />
          <div
            *ngIf="rollNumberField.invalid && rollNumberField.touched"
            class="text-danger"
          >
            Valid roll number is required.
          </div>
        </div>

        <!-- <div class="mb-3">
          <label for="cgpa" class="form-label">CGPA</label>
          <input
            type="number"
            class="form-control"
            id="cgpa"
            [(ngModel)]="cgpa"
            name="cgpa"
            required
            
            #cgpaField="ngModel"
          />
        </div>
 -->
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid"
          >
            Submit
          </button>
        </div>
      </form>

      <div *ngIf="errorMessage === 'Student not found. Please register.'">
        <h5 class="mt-3">New Student? Enter CGPA to Register</h5>
        <input
          type="number"
          class="form-control mt-2"
          [(ngModel)]="cgpa"
          name="cgpa"
          required
        />
        <button class="btn btn-success mt-2" (click)="registerNewStudent(getBranch(rollNumber.substring(0,2)), '20' + rollNumber.substring(2,4), getDegree(rollNumber.substring(4,6)), rollNumber.substring(6,9), getSem(rollNumber.substring(2,4)))">
          Register
        </button>
      </div>
    </div>
  </div>
</div>
