/* You can add global styles to this file, and also import other style files */
/* styles.css or styles.scss */
.cdk-drag-preview {
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    background-color: white;
    padding: 0.5rem;
    border-radius: 4px;
  }
  
  .cdk-drag-placeholder {
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
  }
  